<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <% include ../partials/nav %>

        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <b><i class='fa fa-user'></i> <i class='fa fa-plus-square'></i> Add client</b>
                        </div>
                        <div class="panel-body">
                            <% if(typeof msg  !== undefined || msg.length<1){ %>
                               <!--  <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>msg</strong> 
                                </div> -->
                            <% } %>

                            <form method="post" action="/consultant/add_client" name="login_form">
                                <div class="form-group">
                                    <label for="inputName">Name of client</label>
                                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Full Name ">
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername">Email Address of client</label>
                                    <input type="email" class="form-control" id="inputUsername" name="inputUsername" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Choose a Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-info">Add Client</button>
                            </form>
                        </div>
                    </div>
                    
                </div> 

                <div class="col-lg-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <b><i class='fa fa-list-alt'></i> My Clients</b>
                            <a href="/consultant/search" class="btn btn-xs btn-info pull-right">
                                <span class="fa fa-search"> Search Records</span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <% if(clients.length>0){ %>
                                    <hr>
                                    <% for(var i=0;i<clients.length;i++){ %>
                                    <a class="list-group-item" href="/consultant/client/<%= clients[i].id %>">
                                        <b><%= clients[i].name %></b> (<%= clients[i].username %>)
                                    </a>
                                    <% } %>
                                <% }else{%>
                                    <div class="list-group-item">No clients yet.</div>
                                <%} %>
                            </div>
                        </div>
                    </div>


                </div> <!-- Main Content -->

                
            </div>
        </div>
        <% include ../partials/footer %>
        <% include ../partials/jsdefaults %>
    </body>
</html>
