<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>
        <% include partials/nav %>


        <div class="container">
            <div class="row">

                <div class="col-lg-3">

                </div> <!-- left sidebar -->

                <div class="col-lg-6">
                    <% if(error!=undefined){%>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> 
                        <%= error.error_msg %>
                    </div>
                    <% } %>
                    
                    <form method="post" action="/login" name="login_form">
                        <div class="form-group">
                            <label for="inputName">Username</label>
                            <input type="text" class="form-control" id="inputName" name="inputUsername" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div> <!-- Main Content -->

                <div class="col-lg-3">

                </div>
            </div>
        </div>
        <% include partials/footer %>
        <% include partials/jsdefaults %>
    </body>
</html>
