<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include partials/head %>
    </head>
    <body>
        <% include partials/header %>

        <div class="container">
            <hr>
            <div class="row">

                <div class="col-lg-4">
                    <% if(error.error_msg){%>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Error!</strong> 
                        <%= error.error_msg %>
                    </div>
                    <% } %>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class='fa fa-sign-in'> Log In</i>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="/login" name="login_form">
                                <div class="form-group">
                                    <label for="inputName">Email Address</label>
                                    <input type="text" class="form-control" id="inputName" name="inputUsername" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-info"><b>Login</b></button>
                                <a class="btn btn-default pull-right" href="/register"><b>I don't have account.</b></a>
                            </form>
                        </div>
                        <br>
                    </div>
                    
                </div> <!-- Main Content -->
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class='fa fa-group'> About Team</i>
                        </div>
                        <div class="panel-body">
                            <b>Implementation</b>
                            <ul>
                                <li>Dawn Xiaodong Song, David Wagner, and Adrian Perrig - <a href="http://www.cs.berkeley.edu/~dawnsong/papers/se.pdf">"Practical Techniques for Searches on Encrypted Data"</a> </li>
                            </ul>
                            <hr>
                            <b>Team (Group 6)</b>
                            <ul>
                                <li>Sandip Pandey</li>
                                <li>Herson Tobías Esquivel-Vargas</li>
                                <li>Yazan Badin</li>
                                <li>Niels Kamp</li>
                            </ul>
                        </div>
                        <br/>
                    </div>
                    
                </div> <!-- Main Content -->
                <div class="col-lg-3">
                    <img src="/images/encryption.jpg" width="100%">
                </div> <!-- Main Content -->
            </div>
        </div>
        <% include partials/footer %>
        <% include partials/jsdefaults %>
    </body>
</html>
